<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" role="navigation">
    <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
            <li class="nav-item">
                <a class="nav-link"  data-toggle="collapse" data-target="#submenu-1" href="#">
                    {{ .Pre }}
                    <span>{{ .Name }}</span>
                </a>
                <ul class="sub-menu">
                    {{ range .Children }}
                    <li class="nav-item">
                        <a class="nav-link {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
                    </li>
                    {{ end }}
                </ul>
            </li>
            {{ else }}
            <li class="nav-item">
                <a class="nav-link {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}" href="{{ .URL }}">
                {{ .Pre }}
                <span>{{ .Name }}</span>
                </a>
            </li>
            {{ end }}
            {{ end }}
        </ul>
    </div>
    {{- partial "menu-footer.html" . -}}
</nav>
